:root{
    /* light mode */
    --clr-lightmd-card: hsl(220, 37%, 100%);
    --clr-lightmd-surface: hsl(223, 11%, 88%);
    --clr-lightmd-blocks: hsl(220, 37%, 97%);
    --clr-lightmd-text: hsl(244, 44%, 14%);
    --clr-lightmd-card-bord: none;
    /* dark mode */
    --clr-darkmd-card: #000000;
    --clr-darkmd-surface: #070707;
    --clr-darkmd-blocks: #000000;
    --clr-darkmd-text: hsl(0, 0%, 100%);
    /* led color */
    --led-pink:#ff00ff;
    --led-green: #00ff00;
    --led-blue: #00bfff;
    /* normal color */
    --clr-purple-400: hsl(305, 66%, 39%);
    --clr-purple-300: hsl(312, 80%, 85%);
    --clr-green-400: lime;
    --clr-green-300: lightgreen;
    --clr-cyan-400: hsl(195, 92%, 44%);
    --clr-cyan-300: hsl(184, 88%, 73%);
    /* font families */
    --ff-base: "IBM Plex Sans", sans-serif;
    --ff-accent: "Young Serif", serif;
    --ff-h1: "Franklin Gothic Medium", 'Arial Narrow', Arial, sans-serif;
    /* font-weight */
    --fw-regular: 500;
    --fw-bold: 600;
    --fw-black: 700;
    /* font sizes */
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;

}
*{
    margin:0;
    box-sizing: border-box;
}
.dark-mode{
    --bg-surface: var(--clr-darkmd-surface);
    --bg-card: var(--clr-darkmd-card);
    --bg-blocks : var(--clr-darkmd-blocks);
    --clr-text: var(--clr-darkmd-text);
    --clr-purple-400: var(--led-pink);
    --clr-purple-300: var(--led-pink);
    --clr-green-400: lime;
    --clr-green-300: var(--led-green);
    --clr-cyan-400: var(--led-blue);
    --clr-cyan-300: var(--led-blue);
    --shadow-px: 1.600rem;
    --clr-shadow-text:0 0 10px var(--clr-cyan-300), 0 0 20px var(--clr-cyan-300), 0 0 30px var(--clr-cyan-300);
    --clr-led-text: #93cfe3;
}
.light-mode{
    --bg-surface: var(--clr-lightmd-surface);
    --bg-card: var(--clr-lightmd-card);
    --bg-blocks : var(--clr-lightmd-blocks);
    --clr-text: var(--clr-lightmd-text);
    --clr-purple-400: hsl(305, 66%, 39%);
    --clr-purple-300: hsl(312, 80%, 85%);
    --clr-green-400: lime;
    --clr-green-300: lightgreen;
    --clr-cyan-400: hsl(195, 92%, 44%);
    --clr-cyan-300: hsl(184, 88%, 73%);
    --shadow-px: 0.125rem;
    --clr-shadow-text:none;
    --clr-led-text: var(--clr-cyan-400);
}
#body{
    background: var(--bg-surface);
    color: var(--clr-text);
    font-family: var(--ff-base);
    font-size: var(--fs-300);
    margin: 0;
    padding: 0;
    position: relative;
}
#header{
    width: 100%;
    height: 50px;
    display: flex;
    white-space: nowrap;
    position: fixed;
    background-color: var(--bg-blocks);
    color: var(--clr-text);
    z-index: 10;
}
#logo{
    width: 200px;
    padding-left: 20px;
    color: var(--bg-text);
}
#navigation{
    width: 100%;
}
.no-deco{
    text-decoration: none;
}
.dark-text{
    color: black;
}
#navigation nav{
    flex: 1;
    height: 100%;
    width: 100%;
}
#navigation nav ul{
    align-items: center;
    height: max-content;
    gap: 10px;

}
#navigation nav{
    right: 0;
}
.nav-button{
    display:none;
    border: 1px solid gray;
    color: var(--bg-text);
    background: var(--bg-surface);
}
.nav-button path{
    fill:var(--bg-text)
}

.nav-list{
    --_ul-clr: var(--ul-clr, red);
    display: flex;
    list-style: none;
    justify-content: flex-end;  
    margin-right: 20px; 
}
#navigation ul li{
    margin: 10px;
}
#navigation ul li a{
    color: var(--ul-clr);
}
#navigation ul li a:hover{
    text-decoration: underline;
    color: var(--ul-clr);
}
#navigation ul li:nth-child(2):hover{
    --ul-clr: var(--led-green)
}
#navigation ul li:nth-child(3):hover{
    --ul-clr: var(--led-blue)
}
#navigation ul li:nth-child(4):hover{
    --ul-clr: yellow
}
#navigation ul li:nth-child(5):hover{
    --ul-clr: var(--led-pink)
}
#body{
    width: 100%;
    min-height: 100vh;
    padding-top: 75px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-surface);
}
.page-block{
    border: 1px solid black;
    border-radius: 6px;
    background-color: var(--bg-blocks);
    padding: 20px;
    border: none;
}
.context{
    font-family: var(--ff-accent);
    font-size: var(--fs-700);
    max-width: 25ch;
    color: var(--bg-text);
}
#home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'one two two'
    ;
}
.block-child:nth-child(1){
    grid-area: one;
}
.block-child:nth-child(2){
    grid-area: two;
}
.ff-h1{
    font-size: var(--fs-800);
    font-family: var(--ff-h1);
}
.content{
    height: 100%;
    width: 100%;
    padding: 30px;
    color: var(--bg-text)
}
.carousel-inner{
    border-radius: 6px;
}
.carousel-item h6{
    font-weight: bold;
}
.carousel-item a.no-deco:hover{
    text-decoration: underline;
}
.service-card{
    --_shadow: var(--shadow, pink);
    --_icon: var(--icon, red);
    --_button-hover: var(--button-hover, var(--clr-text));
    background: var(--bg-card);
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 var(--shadow-px) rgb(0 0 0 / 0.122), -1rem -1rem var(--shadow-px) 0 var(--_shadow);
    display: grid;
    grid-template-rows:auto;
    border: 0.125em solid var(--shadow);
}
.service-web{
    --shadow: var(--clr-cyan-300);
    --icon: var(--clr-cyan-400);
    --button-hover: var(--clr-cyan-400);
    
}
.service-user{
    --shadow: var(--clr-green-300);
    --icon: var(--clr-green-400);
    --button-hover: var(--clr-green-400);
}
.service-backend{
    --shadow: var(--clr-purple-300);
    --icon: var(--clr-purple-400);
    --button-hover: var(--clr-purple-400);
}
.service-icon{
    fill:var(--_icon);
    font-weight: bold;
    width: 50px;
    height: 50px;
    stroke-width: 2;
    grid-area: one;
}
.service-name{
    grid-area: two;
    font-family: var(--ff-base);
}
.service-description{
    grid-area: three;
    font-family:  math;
    font-size: var(--fs-400);
}

.grid-2x2{
    display: grid;
    gap: 50px;
}
.grid-3column{
    /* height: 200px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'one two two'
    ;
    gap: 2rem;
}
.tab-description{
    font-family: var(--ff-accent);
}
.tab-titles{
    display: flex;
    gap: 3rem;
    cursor: pointer;
}
.selected-tab{
    color: var(--clr-led-text);
    text-shadow: var(--clr-shadow-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.tab-contents{
    display: none;
}
.tab-content-actv{
    display: block;
}
.tab-contents ul{
    padding: 0;
    list-style: none;
}
.tab-contents li{
    margin-bottom: .5rem;
    font-family: var(--ff-accent);    
}
.tab-contents li span{
    font-size: .75rem;
    font-family: var(--ff-h1);
}
.grid-3cl-profile{
    grid-area: one;
}
.grid-3cl-details{
    grid-area: two;
}
@media screen and (max-width:900px){
    .nav-list{
        display: block;
        background-color: var(--bg-surface);
        border: 1px black;
        padding: 0;
        padding: 10px;
        margin: 0px;
    }
    .nav-hidden{
        display: none;
    }
    #navigation{
        position: fixed;
        right: 0;
        width: auto ;
        padding: 10px;
        
    }
    #navigation nav{
        gap:10px
    }
    .nav-button{
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
    }
    .content:nth-child(3){
        padding: 0;
    }
    #home{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        'one'
        'two'
        ;
    }
    .grid-2x2{
        grid-template-columns: 1fr;
    }
    .content{
        padding: 1rem;
    }
    .grid-3cl-profile img{
        max-width: 250px;
    }
    /* service card */
    .service-card{
        grid-template-columns: 
            repeat(4, 1fr)
        ; 
        grid-template-areas: 
            'one two two two'
            'three three three three'
            'three three three three'
        ;
    }
    .service-name{
        display: flex;
        align-self: center;
    }
    .grid-3column{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            'one'
            'two';
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    #body{
        padding-left: 50px;
        padding-right: 50px;
    }
    .grid-2x2{
        grid-template-columns: 
        repeat(2,1fr)
    ;
    gap: 60px;
    }
    /* service card */
    .service-card{
        /* grid-template-rows: auto; */
        grid-template-columns: 
            repeat(4, 1fr)
        ; 
        grid-template-areas: 
            'one two two two'
            'three three three three'
            'three three three three'
        ;
    }
    .service-name{
        display: flex;
        align-self: center;
    }
}
@media screen and (min-width: 1200px) {
    #body{
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .grid-2x2{
        grid-template-columns: 
        repeat(3,1fr)
        ;   
    }
    /* service card */
    .service-card{
        grid-template-rows: 3rem 4rem auto
        ;
        gap: 1rem;
        grid-template-areas: 
            'one'
            'two'
            'three'
            'three'
        ;
    }
}
.d-block{
    width: 100%;
    height: auto;
    background-size: cover;
    font-style: italic;
}